<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" parallel="tests" thread-count="5">

    <listeners>
        <listener class-name="AndroidUtils.Listeners"></listener>
    </listeners>

    <test name="Device1">
        <parameter name="deviceName" value="2A131FDH200HX6"/>
        <parameter name="systemPort" value="8200"/>
        <parameter name="appiumPort" value="4723"/>
        <parameter name="appPath" value="G:\Automation Projects\testriq\src\main\java\apps\mda-2.2.0-25.apk"/>
        <classes>
           <class name="testcases.TC_01_Login"/>
      		<class name="testcases.TC_02_Add_To_Cart"/>
            <class name="testcases.TC_03_Checkout"/>
        </classes>
    </test>

    <test name="Device2">
        <parameter name="deviceName" value="RZCT815XFZT"/>
        <parameter name="systemPort" value="8300"/>
        <parameter name="appiumPort" value="4724"/>
        <parameter name="appPath" value="G:\Automation Projects\testriq\src\main\java\apps\mda-2.2.0-25.apk"/>
        <classes>
            <class name="testcases.TC_01_Login"/>
      		<class name="testcases.TC_02_Add_To_Cart"/>
            <class name="testcases.TC_03_Checkout"/>
        </classes>
    </test>

 <test name="Device3">
        <parameter name="deviceName" value="94CAY0MBUV"/>
        <parameter name="systemPort" value="8400"/>
        <parameter name="appiumPort" value="4725"/>
        <parameter name="appPath" value="G:\Automation Projects\testriq\src\main\java\apps\mda-2.2.0-25.apk"/>
        <classes>
		    <class name="testcases.TC_01_Login"/>
      		<class name="testcases.TC_02_Add_To_Cart"/>
            <class name="testcases.TC_03_Checkout"/>
       </classes>
    </test>

    <!-- Add more devices as needed -->

</suite>
